@import '../bower_components/bootstrap/less/bootstrap.less';
@import 'vendor/variables.less';
@import 'vendor/paper.less';
@import "vendor/leaflet.less";

body {background: black; color:white}

.map-container {
  top:56px;margin:0px;padding:0px;
  height:100%;width:100%;position:absolute;z-index: 5
}

.signup-form {
  display:none;
}

.navbar-text span {padding-right:5px;}
.player-exp {color: #CBCBCB;}

// .toolbar-container{
//   top:0px;
//   position:absolute;
//   z-index:20;
//   width: 100%;
// }
