/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {background: black;font-family: "Segoe UI", Sans-Serif;text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);}
h1 {color:black;font-weight:normal;font-size: 2.5em;line-height: 1;}
a { color:black;}
a:hover {color:black}

.hope-you-die { display:none; }
.ie .container {display:none;}
.ie .hope-you-die {display:block; }
/*-webkit-linear-gradient(red, yellow, orange, green, blue, purple);*/
.stats-container { background: #ede9e9;position:absolute;left:0px;top:0px;width:100%;z-index:10;opacity:.9;box-shadow:inset}
.stats-container h2, h3 { margin: 0; padding: 2px; font-weight:normal}

.col1 { float: left; max-width: 30%;   margin:10px;}
.col1 h2 {background:#7c0c50; color:white;font-size: 3em;text-align:right}
.col1 span {text-align:right;}

.col2 { float:left; max-width:20%;margin:10px}
.col2 h3 {background:#fffb25;margin:0px;color:black;font-size:1em}
.col3 h3 {background:#b3d4fc;margin:0px;color:black;font-size:1em}
.col2 span, .col3 .row1 span {font-size:10px;text-align:right}
.verdict { font-size:1em !important}
.col3 .row1 { overflow-x:scroll;padding:10px;}
.player-exp {color: #8D8D8D;}
.map-container { top:0px;margin:0px;padding:0px; height:100%;width:100%;position:absolute;}

.invite-form {top: 259px;padding: 35px;position:absolute; max-width: 30%; z-index:10; position:relative;margin: 10% 0 0 30%; background-color: #E8E8E8;opacity: .9;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),0 -1px 0 rgba(255, 255, 255, 0.8),0 4px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),0 -1px 0 rgba(39, 39, 39, 0.8),0 4px 10px rgba(0, 0, 0, 0.6);
    text-align:center;
    border-radius:3px;
}
.invite-form:hover { opacity: 1 }

.btn { padding: 4px 12px;line-height: 20px;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);background-color: whiteSmoke;border: 1px solid #BBB;border-radius: 4px;}


.content h3 { margin-top: 20px; font-size: 1.5em;}
.content a { color:black}

.horizontal-list {list-style-type:none;margin:0;padding:0 0 10px 45px;border-radius: 5px;background: #313033; color:#E8E8E8;}
.horizontal-list div {text-shadow: 1px 1px 0 rgba(32, 32, 32, 0.2);}
.horizontal-list a {color:#E8E8E8;}
.horizontal-list li {display: block;width:30%;float:left;padding-left:20px}


.content span {width:32px;height:35px;padding:0; margin: 5px 5px 0 0;display:inline-block; position:relative;top:4px;}
.content p {padding-left: 45px;}
.content img {padding-left: 20%;}

footer {font-size:14px;padding:10px;}
footer a {color:#E8E8E8;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    .container, footer, .apocalypse-container {width:100%;}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {      
    .container, footer, .apocalypse-container {width:100%;}
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}