<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oauth2" type="OAuth2.Configuration.OAuth2ConfigurationSection, OAuth2, Version=0.8.*, Culture=neutral"/>
  </configSections>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
  <oauth2>
    <services>
      <add clientType="FoursquareClient"
          enabled="true"
          clientId="QXM3ND4KWSNC0UZIGI4HUQCOFX4U3VIYT4U0FRI3PVUQFYYB"
          clientSecret="JVGNGAM4D3V1URBT0Z4TLI04Q3JZAYNBR1JKRUMREQ2JSL3O"
          scope=""
          redirectUri="http://prism.phinitive.com/api/auth/foursquare" />

      <add clientType="InstagramClient"
          enabled="true"
          clientId="66a4fd6af5404d97a121f0c41407bffb"
          clientSecret="4c6baa04851d48e6a426477d5e9c25a5"
          scope="basic"
          redirectUri="http://prism.phinitive.com/api/auth/instagram" />
    </services>
  </oauth2>
  <system.net>
  </system.net>
</configuration>